@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* Fuentes */
@font-face {
  font-family: titulos1;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: titulos2;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: parrafos;
  src: url(../fonts/Poppins-Medium.ttf);
}
/* Estilos de títulos y párrafos */
body {
  width: 100%;
}

h1 {
  font-family: titulos1;
  color: white;
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: titulos2;
  color: black;
}

h3 {
  font-family: titulos2;
}

p {
  font-family: parrafos;
}

a {
  font-family: parrafos;
  text-decoration: none;
  color: cornflowerblue;
}

ul li {
  font-family: parrafos;
  list-style: none;
  padding: 0;
}

/* Header */
header {
  font-size: 18px;
  position: sticky;
  top: 0px;
  background-color: white;
  grid-area: header;
  z-index: 1;
}
header .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: parrafos;
  padding: 10px;
}
header .menu .menu-items {
  border-radius: 5px;
  padding: 5px;
}
header .menu .menu-items:hover {
  transition: all 0.5s;
  background-color: rgb(9, 66, 151);
  color: white;
}

/* Buttons */
button:hover {
  transition: all 0.3s;
  background-color: rgb(26, 61, 126);
  color: white;
  border-color: transparent;
  cursor: pointer;
}

button:active {
  background-color: rgb(26, 61, 126);
  color: white;
  border-color: transparent;
}

.blog-container .latest-article .article-container .article-subcontainer2, .blog-container .latest-article .article-container .article-subcontainer, .blog-container .latest-article .article-container, .our-services .button-viewall, .our-services .service-container {
  display: flex;
  justify-content: center;
  align-items: center;
} /* Home page */
/* Sector intro */
.intro {
  text-align: center;
  background-color: cornflowerblue;
  padding: 50px;
  grid-area: intro;
}
.intro .learnmore {
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  font-family: parrafos;
}

/* Sector servicios */
.our-services {
  grid-area: our-services;
}
.our-services .our-solutions-title {
  text-align: center;
  grid-area: our-solutions-title;
}
.our-services .service-container .service {
  width: 60%;
}
.our-services .service-container .service1 {
  grid-area: service1;
}
.our-services .service-container .service2 {
  grid-area: service2;
}
.our-services .service-container .service3 {
  grid-area: service3;
}
.our-services .service-container .service-description {
  width: 60%;
  text-align: center;
}
.our-services .button-viewall {
  grid-area: button-viewall;
}
.our-services .button-viewall .view-all {
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  font-family: parrafos;
}

/* Sector blog */
.blog-container {
  display: flex;
  grid-area: blog-container;
}
.blog-container .latest-article {
  grid-area: latest-article;
}
.blog-container .latest-article .latest-article-title {
  text-align: center;
  background-color: azure;
}
.blog-container .latest-article .article-container {
  background-color: azure;
  padding: 20px;
}
.blog-container .latest-article .article-container .article-subcontainer {
  width: 50%;
}
.blog-container .latest-article .article-container .article-subcontainer .article-pic {
  width: 60%;
}
.blog-container .latest-article .article-container .article-subcontainer2 {
  flex-direction: column;
  width: 40%;
}
.blog-container .latest-article .article-container .article-subcontainer2 .button-blog {
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  font-family: parrafos;
}
.blog-container .other-articles {
  background-color: azure;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  grid-area: other-articles;
}
.blog-container .other-articles .other-article1 {
  display: flex;
  align-items: center;
}
.blog-container .other-articles .other-article2 {
  display: flex;
  align-items: center;
}
.blog-container .other-articles .other-article3 {
  display: flex;
  align-items: center;
}
.blog-container .otherarticle-pic {
  width: 20%;
  padding: 5px;
}

/* Call to action */
.call-to-action {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  background-color: cornflowerblue;
  grid-area: call-to-action;
}

.button-contactus {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.contactus-button {
  padding: 5px;
  background-color: white;
  font-family: parrafos;
  border-radius: 2px;
}

.start-title {
  text-align: center;
}

/* Footer */
footer {
  display: flex;
  background-color: lightgrey;
  grid-area: footer;
}
footer .company-info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 33%;
}
footer .navigation {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 33%;
}
footer .navigation .footer-items:hover {
  transition: all;
  color: midnightblue;
}
footer .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

/* About Us */
.aboutus-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-area: aboutus-intro;
  background-image: url(../images/about1.jpg);
  padding: 10rem;
}
.aboutus-intro p {
  color: white;
}

.description-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 2vw 30vh;
  text-align: center;
  grid-area: description;
}

.ourvalues {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  grid-area: ourvalues;
  background-color: aliceblue;
}
.ourvalues .ourvalues-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 30vh;
}
.ourvalues .ourvalues-content .ourvalues-image {
  width: 35%;
  padding-right: 3rem;
  min-width: 325px;
}
.ourvalues h2 {
  text-align: center;
}

.chooseus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  grid-area: chooseus;
  background-color: aliceblue;
}
.chooseus .chooseus-content {
  display: flex;
  padding: 3rem 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chooseus .chooseus-content .chooseus-image {
  width: 35%;
  padding-right: 3rem;
  min-width: 325px;
}
.chooseus h2 {
  text-align: center;
}

.visually-hidden {
  z-index: -1;
}

.intro-services {
  background-color: cornflowerblue;
  padding: 50px;
  text-align: center;
}

.services-container {
  display: grid;
  justify-content: center;
}
.services-container .services-list1 {
  display: flex;
}
.services-container .services-list1 li {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  text-align: center;
  font-size: 24px;
}
.services-container .services-list2 {
  display: flex;
}
.services-container .services-list2 li {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  text-align: center;
  font-size: 24px;
}
.services-container .services-list3 {
  display: flex;
}
.services-container .services-list3 li {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  text-align: center;
  font-size: 24px;
}

.image-service {
  width: 400px;
  height: 250px;
  margin-bottom: 1rem;
}

/*Responsive */
#body-index {
  display: grid;
  grid-template-areas: "header" "intro" "our-services" "blog-container" "call-to-action" "footer";
}

#body-aboutus {
  display: grid;
  grid-template-areas: "header" "aboutus-intro" "description" "ourvalues" "chooseus" "call-to-action" "footer";
}

@media screen and (max-width: 652px) {
  /*header & footer*/
  header .menu {
    display: none;
  }
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .company-info {
    width: 100%;
    text-align: center;
  }
  footer .navigation {
    width: 100%;
  }
  footer .contact-info {
    width: 100%;
  }
  /*index.html*/
  .intro {
    padding-top: 7rem;
  }
  .our-services .service-container {
    flex-direction: column;
  }
  .blog-container {
    flex-direction: column;
  }
  .blog-container .article-container {
    flex-direction: column;
    align-items: center;
  }
  /* About us */
  .aboutus-intro {
    padding: 7rem 0;
  }
  .description-about {
    margin: 0;
  }
  .ourvalues .ourvalues-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .chooseus .chooseus-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  /* Services */
  .intro-services {
    padding-top: 7rem;
  }
  .services-container .services-list1 {
    flex-direction: column;
    padding: 0;
  }
  .services-container .services-list1 li {
    margin: 0;
  }
  .services-container .services-list2 {
    flex-direction: column;
    padding: 0;
  }
  .services-container .services-list2 li {
    margin: 0;
  }
  .services-container .services-list3 {
    flex-direction: column;
    padding: 0;
  }
  .services-container .services-list3 li {
    margin: 0;
  }
  .image-service {
    width: 100%;
    height: auto;
  }
  /* Blog */
  .intro-blog {
    padding-top: 7rem !important;
  }
  /* Contact */
  .intro-contact {
    padding-top: 7rem !important;
  }
  .form .message {
    height: 6rem;
  }
}
@media screen and (max-width: 1250px) {
  /* About us */
  .ourvalues .ourvalues-content {
    flex-direction: column;
  }
  .chooseus .chooseus-content {
    flex-direction: column;
  }
  .ourvalues-image {
    padding-right: 0;
  }
  .chooseus-image {
    padding-right: 0;
  }
}
@media screen and (max-width: 1617px) {
  /* Services */
  .image-service {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 867px) {
  /* Services */
  .image-service {
    width: 100%;
    height: auto;
  }
  .services-container .services-list1 li {
    margin: 1rem;
  }
  .services-container .services-list2 li {
    margin: 1rem;
  }
  .services-container .services-list3 li {
    margin: 1rem;
  }
}
@media screen and (min-width: 650px) {
  .navbar {
    display: none;
  }
}
.our-services .service-container, .our-services .button-viewall, .blog-container .latest-article .article-container, .blog-container .latest-article .article-container .article-subcontainer, .blog-container .latest-article .article-container .article-subcontainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-services .service-container, .our-services .button-viewall, .blog-container .latest-article .article-container, .blog-container .latest-article .article-container .article-subcontainer, .blog-container .latest-article .article-container .article-subcontainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-blog {
  text-align: center;
  background-color: cornflowerblue;
  padding: 50px;
  grid-area: intro;
}

.article-blog h2 {
  text-align: center;
  margin: 2rem 0;
}

.blogimage {
  width: 40%;
  float: left;
  margin: 0 1rem 1rem 0;
}

.other-articles h2 {
  text-align: center;
}
.other-articles .list-articles {
  display: flex;
  padding-left: 0;
}
.other-articles .list-articles li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.other-articles .oa-button-container {
  display: flex;
  justify-content: center;
}

.oa-button {
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  font-family: parrafos;
}

.otherarticles {
  width: 30%;
}

.intro-contact {
  text-align: center;
  background-color: cornflowerblue;
  padding: 50px;
  grid-area: intro;
}

.form {
  text-align: center;
  padding: 2rem;
}
.form .submit {
  padding: 5px;
  margin: 5px;
  background-color: white;
  font-family: parrafos;
  font-size: large;
}
.form .submit:hover {
  background-color: midnightblue;
}

/*# sourceMappingURL=style.css.map */
