/* Home page */

/* Sector intro */

.intro {
    text-align: center;
    background-color: cornflowerblue;
    padding: 50px;
    grid-area: intro;
}

.learnmore {
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    font-family: parrafos;
}

/* Sector servicios */

.our-services {
    grid-area: our-services;
}

.our-solutions-title {
    text-align: center;
    grid-area: our-solutions-title;
}

.service {
    width: 60%;
}

.service1 {
    grid-area: service1;
}

.service2 {
    grid-area: service2;
}

.service3 {
    grid-area: service3;
}

.service-description {
    width: 60%;
    text-align: center;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-viewall {
    display: flex;
    justify-content: center;
    grid-area: button-viewall;
}

.view-all {
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    font-family: parrafos;
}

/* Sector blog */

.latest-article{
    grid-area: latest-article;
}

.latest-article-title {
    text-align: center;
    background-color: azure;
}

.article-pic {
    width: 60%;
}

.article-container {
    display: flex;
    justify-content: center;
    background-color: azure;
    padding: 20px;
}

.article-subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.article-subcontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.other-articles {
    background-color: azure;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    grid-area: other-articles;
}

.otherarticle-pic {
    width: 20%;
    padding: 5px;
}

.other-article1 {
    display: flex;
    align-items: center;
}

.other-article2 {
    display: flex;
    align-items: center;
}

.other-article3 {
    display: flex;
    align-items: center;
}

.blog-container {
    display: flex;
    grid-area: blog-container;
}

.button-blog {
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    font-family: parrafos;
}