/* Header */
header {
    font-size: 18px;
    position: sticky;
    top: 0px;
    background-color: white;
    grid-area: header;
    z-index: 1;

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: parrafos;
        padding: 10px;

        .menu-items {
            border-radius: 5px;
            padding: 5px;

            &:hover {
                transition: all .5s;
                background-color: rgb(9, 66, 151);
                color: white;
            }

        }

    }
    
}




