/* Header */
header {
    font-size: 18px;
    position: sticky;
    top: 0px;
    background-color: white;
    grid-area: header;
    z-index: 1;

    .menu {
        display: grid;
        justify-content: center;
        align-items: center;
        font-family: parrafos;
        padding: 10px;
        grid-template-areas:
        "logo-menu navbar-menu search-menu";
        grid-template-columns: 33% 33% 33%;
        justify-content: center;

        .navbar-menu {
            grid-area: navbar-menu;
            display: flex;
            justify-content: space-around;
        }

        .search-menu {
            grid-area: search-menu;
            display: flex;
            justify-content: center;
        }

        .logo-menu {
            grid-area: logo-menu;
            display: flex;
            justify-content: center;
        }

        .menu-items {
            border-radius: 5px;
            padding: 5px;

            &:hover {
                transition: all .5s;
                background-color: rgb(9, 66, 151);
                color: white;
            }

        }

    }
    
}




