/*Responsive */

#body-index {
    display: grid;
    grid-template-areas: 
    "header"
    "intro"
    "our-services"
    "blog-container"
    "call-to-action"
    "footer";
}

#body-aboutus {
    display: grid;
    grid-template-areas: 
    "header"
    "aboutus-intro"
    "description"
    "ourvalues"
    "chooseus"
    "call-to-action"
    "footer";
}

@media screen and (max-width:652px) {

    /*header & footer*/
    header .menu {
        display: none;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .company-info {
            width: 100%;
            text-align: center;
        }
        
        .navigation {
            width: 100%;
        }
        
        .contact-info {
            width: 100%;
        }
    }

    /*index.html*/
    .intro {
        padding-top: 7rem;
    }

    .our-services .service-container {
        flex-direction: column;
    }

    .blog-container {
        flex-direction: column;
        
        .article-container {
            flex-direction: column;
            align-items: center;
        }    
    }
    
    /* About us */

    .aboutus-intro {
        padding: 7rem 0;
        margin-top: 2.5rem;
    }

    .description-about {
        margin: 0;
    }

    .ourvalues .ourvalues-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .chooseus .chooseus-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    /* Services */

    .intro-services {
        padding-top: 7rem;
    }
    .services-container {
        .services-list1 {
            flex-direction: column;
            padding: 0;

            li {
                margin: 0;
            }
        }

        .services-list2 {
            flex-direction: column;
            padding: 0;

            li {
                margin: 0;
            }
        }

        .services-list3 {
            flex-direction: column;
            padding: 0;

            li {
                margin: 0;
            }
        }
    }

    .image-service {
        width: 100%;
        height: auto;
    }

    /* Blog */
    .intro-blog {
        padding-top: 7rem !important;
    }

    /* Contact */
    .intro-contact {
        padding-top: 7rem !important;
    }

    .form .message {
        height: 6rem;
    }

}

@media screen and (max-width:1250px) {
    /* About us */
    .ourvalues .ourvalues-content {
        flex-direction: column;
    }

    .chooseus .chooseus-content {
        flex-direction: column;
    }

    .ourvalues-image {
        padding-right: 0;
    }

    .chooseus-image {
        padding-right: 0;
    }
}

@media screen and (max-width: 1617px) {

    /* Services */
    .image-service {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 867px) {

    /* Services */
    .image-service {
        width: 100%;
        height: auto;
    }

    .services-container {
        .services-list1 li {
            margin: 1rem;
        }

        .services-list2 li {
            margin: 1rem;
        }

        .services-list3 li {
            margin: 1rem;
        }
    }
}

@media screen and (min-width: 650px) {
    .navbar {
        display: none;
    }
}