/* Footer */

.company-info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 33%;
}

.navigation {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

footer {
    display: flex;
    background-color: lightgrey;
    grid-area: footer;
}

.footer-items:hover {
    transition: all;
    color: midnightblue;
}